{% extends "layout.html" %}
{% block content %}
        <div class="character">
            <div class="character-body">
                <img src="{{ url_for('static', filename='img/character/body' + appearance['body']|string + '.png') }}">
            </div>
            <div class="hair">
                <img src="{{ url_for('static', filename='img/character/hair' + appearance['hair']|string + '.png') }}">
            </div>
            <div class="beard">
                <img src="{{ url_for('static', filename='img/character/beard' + appearance['beard']|string + '.png') }}">
            </div>
            <div class="face">
                <img src="{{ url_for('static', filename='img/character/face' + appearance['face']|string + '.png') }}">
            </div>
            <div class="helmet">
                <img src="{{ url_for('static', filename='img/items/helmets/helmet' + eq['helmet']|string + '.png') }}">
            </div>
            <div class="cloth">
                <img src="{{ url_for('static', filename='img/items/armor/cloth' + eq['armor']|string + '.png') }}">
            </div>
            <div class="weapon">
                <img src="{{ url_for('static', filename='img/items/weapons/weapon' + eq['weapon']|string + '.png') }}">
            </div>
            <div class="shield">
                <img src="{{ url_for('static', filename='img/items/shields/shield' + eq['shield']|string + '.png') }}">
            </div>
            <div class="hands">
                <img src="{{ url_for('static', filename='img/items/armor/hands' + eq['armor']|string + '.png') }}">
            </div>
        </div>



{% endblock content %}